//in the future, I would change the menu hierarchy, for better SEO or so.
-var urlRoot = '/products?category='
mixin iterate(el, level)
    if el.children
        each child in el.children
            dd(class="lvl#{level}"): a(href=urlRoot + child._id)= child.name

.category-menu
    if categories
        h2= categories.name
        dl(class= home ? "" : "easy-hidden" )
            if categories.children
                each lvl1 in categories.children
                    dt.lvl1: a(href=urlRoot + lvl1._id)= lvl1.name
                    if lvl1.children
                        dd
                            each lvl2,i in lvl1.children
                                dl: dt.lvl2: a(href=urlRoot + lvl2._id)= lvl2.name
                                    mixin iterate(lvl2, 3)

    else
        p no menu


